<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Teacher List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Teacher List</h1>
<a href="/">Accueil</a>
<a href="addTERProjects">Add Project</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Titre</th>
            <th>Prof secondaire</th>
            <th>Nom Groupe</th>
        </tr>
        <tr th:each ="project : ${projects}">
            <td th:utext="${project.teacherName}">...</td>
            <td th:utext="${project.subject}">...</td>
            <td th:utext="${project.secondTeacherName}">...</td>
            <td th:utext="${project.listeEtu}">...</td>
        </tr>
    </table>
</div>
</body>
</html>